<html>
<head>
  <meta charset="UTF-8">
  <title>{{ shop.name }}</title>
</head>
<body>
    
  <h1 class="hero__title">
    {{ collection | json }}
    {{ customer_address | json }}
  </h1>

</body>
</html>