<html>
<head>
  <meta charset="UTF-8">
  <title>{{ shop.name }}</title>
</head>
<body>
  
  {{ contents }}
  
{% comment %}  <h1 class="hero__title">
    {{ settings }}
  </h1>{% endcomment %}

</body>
</html>